<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration中的各元素的配置要按顺序，如要先配置properties，然后setting，接着typeAliases，这样依次，如果次序错了则会出错-->
<configuration>
    <typeAliases>
    </typeAliases>
</configuration>