<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meituan.pay.finsecurity.dao.mapper.DecisionRuleMapper" >
  <resultMap id="BaseResultMap" type="com.meituan.pay.finsecurity.po.DecisionRule" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="event_id" property="eventId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" typeHandler="com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler" />
    <result column="expr" property="expr" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" typeHandler="com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.typeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler} and #{criterion.secondValue,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.statusCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler} and #{criterion.secondValue,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.typeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler} and #{criterion.secondValue,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.statusCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler} and #{criterion.secondValue,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, event_id, name, alias, type, expr, status
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.meituan.pay.finsecurity.po.DecisionRuleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from decision_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="forUpdate" >
      for update
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from decision_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from decision_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.meituan.pay.finsecurity.po.DecisionRuleExample" >
    delete from decision_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.meituan.pay.finsecurity.po.DecisionRule" >
    insert into decision_rule (id, event_id, name, 
      alias, type, 
      expr, status
      )
    values (#{id,jdbcType=BIGINT}, #{eventId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{alias,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}, 
      #{expr,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meituan.pay.finsecurity.po.DecisionRule" >
    insert into decision_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eventId != null" >
        event_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="expr != null" >
        expr,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="eventId != null" >
        #{eventId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler},
      </if>
      <if test="expr != null" >
        #{expr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.meituan.pay.finsecurity.po.DecisionRuleExample" resultType="java.lang.Integer" >
    select count(*) from decision_rule
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update decision_rule
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.eventId != null" >
        event_id = #{record.eventId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null" >
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler},
      </if>
      <if test="record.expr != null" >
        expr = #{record.expr,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update decision_rule
    set id = #{record.id,jdbcType=BIGINT},
      event_id = #{record.eventId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler},
      expr = #{record.expr,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.meituan.pay.finsecurity.po.DecisionRule" >
    update decision_rule
    <set >
      <if test="eventId != null" >
        event_id = #{eventId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler},
      </if>
      <if test="expr != null" >
        expr = #{expr,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meituan.pay.finsecurity.po.DecisionRule" >
    update decision_rule
    set event_id = #{eventId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler},
      expr = #{expr,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT,typeHandler=com.meituan.pay.finsecurity.dao.typehandler.EnumTypeHandler}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>